<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.tema4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumerosPrimosActivity"
            android:label="@string/title_activity_numeros_primos" />
        <activity
            android:name=".JuegoDeAciertosActivity"
            android:label="@string/title_activity_juego_de_aciertos" />
        <activity
            android:name=".DesplazandoImagenesActivity"
            android:label="@string/title_activity_desplazando_imagenes" />
        <activity
            android:name=".SeleccionandoImagenesActivity"
            android:label="@string/title_activity_seleccionando_imagenes" />
    </application>

</manifest>